
.root {
    margin: 0;
    padding: 0;
}

.p{
    color: aqua;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    p, label, ul, ol, a, button, input, textarea {
        @apply text-white;
        /*@apply mb-6;*/
        /*@apply text-black*/
    }
    h1, h2, h3, h4, h5, h6 {
        @apply text-primary;
    }
    h1{
        @apply text-4xl;
    }
    h2{
        @apply text-3xl;
    }
    h3{
        @apply text-2xl;
    }
    h4{
        @apply text-xl;
    }

    /*ul, ol {*/
    /*    @apply mb-6 pl-6;*/
    /*}*/

    /*li {*/
    /*    @apply mb-2 leading-relaxed;*/
    /*}*/

    blockquote {
        @apply my-6 py-2 px-4 border-l-4 bg-gray-100;
        border-color: #ccc;
    }

    hr {
        @apply border-0 border-t border-gray-300 my-8;
    }

    body{
        @apply bg-bg-1;
    }
    #root {
        @apply m-0 p-0;
        @apply max-w-full;
    }
    button{
        /*@apply bg-primary;*/
        /*@apply rounded-md;*/
        @apply text-white;
        @apply p-2;
        @apply m-1;
    }
    textarea{
        @apply bg-bg-3;
        @apply text-white;
        @apply p-2;
        @apply rounded-md;
    }
    input{
        @apply bg-bg-3;
        @apply text-white;
        @apply p-2;
        @apply rounded-md;
    }

    /*----------------Scrollbar settings-------------------*/
    ::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0);
        border-radius: 5px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #5e5e5e;
        border-radius: 5px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #696969;
    }

    ::-webkit-scrollbar-track-piece:start {
        background: rgba(255, 255, 255, 0);
    }

    ::-webkit-scrollbar-track-piece:end {
        background: rgba(255, 255, 255, 0);
    }

    ::-webkit-scrollbar-button {
        display: none;
    }
}
